---
title: "Die Feuchteklinik"
layout: "portfolio.njk"
heroimg: "/src/img/portfolio/feuchte/title_feuchte.jpg"
detail_client: ["Otto Richter GmbH"]
detail_req_devop: ["Staging", "Dokumentation", "Outsourcing"]
detail_req_webdesign: ["Mockup", "Webdesign", "Styleguide"]
detail_req_webdev: ["PHP", "Wordpress", "Atomic Design"]
ext_link: "https://feuchteklinik.de"
ext_clean: "feuchteklinik.de"
status: "Live"
status_class: "status_live"
together: "2020 - 2021"
---
Der Werbestarke Kunde Otto Richter GmbH hatte mich beauftragt die Webseite komplett neu zu errichten. In Absprache mit dem Team der Feuchteklinik wurde so das Webdesign erstellt, die Digitalstrategie konzipiert und die Leitung der verschiedenen Kundenströme optimiert. Den Großteil der programmierung habe ich an meine ehemalige Partneragentur tenpixls outsourced, die Zusammenarbeit koordiniert und später die einzelnen Module zusammengeführt.