---
title: "Fluter"
layout: "portfolio.njk"
heroimg: "/src/img/portfolio/fluter/title_fluter.jpg"
detail_client: ["Bundesanstalt bpb"]
detail_req_devop: 
detail_req_webdesign: ["Mockup", "Webdesign"]
detail_req_webdev: 
ext_link: "https://fluter.de/"
ext_clean: "fluter.de"
status: "Live"
status_class: "status_live"
together: "2015 - 2017"
---
Für Fluter, das Magazin der Bundeszentrale für politische Bildung, habe ich zusammen mit dem Team von AI Antwort:Internet GmbH am Redesign der Online-Ausgabe gearbeitet. Zudem war ich für das Mockup des Glossars und die Iconografie zuständig. Die Herausforderung lag darin, ein frisches aber dennoch seriöses Design für die Zielgruppe der jungen Erwachsenen zu erstellen und den Anforderungen öffentlicher Träger gerecht zu werden.