---
title: "Portfolio"
layout: "base.njk"
---

<section id="projects">
<h2>Portfolio</h2>

<div class="grid__cards">

    <a class="card">
        <div class="card__img"><img src="/src/img/portfolio/fluter/title_fluter.jpg" /></div>
        <div class="card__details">
            <div class="card__details__info">
                <h2>Fluter</h2>
                <span class=card__details__info__description>Webdesign.<span>
            </div>
            <div class="card__details__info__btn"><img src="/src/img/chev.svg"></div>
        </div>
    </a>

    <a class="card">
        <div class="card__img"><img src="/src/img/portfolio/mpw/title_mpw.jpg" /></div>
        <div class="card__details">
            <div class="card__details__info">
                <h2>MPW Immobilien</h2>
                <span class=card__details__info__description>Corporate Design.<span>
            </div>
            <div class="card__details__info__btn"><img src="/src/img/chev.svg"></div>
        </div>
    </a>

    <a class="card">
        <div class="card__img"><img src="/src/img/portfolio/mpw1hv/title_mpw1hv.jpg" /></div>
        <div class="card__details">
            <div class="card__details__info">
                <h2>MPW1 Hausverwaltung</h2>
                <span class=card__details__info__description>Webdesign & Frontend-Entwicklung.<span>
            </div>
            <div class="card__details__info__btn"><img src="/src/img/chev.svg"></div>
        </div>
    </a>

    <a class="card">
        <div class="card__img"><img src="/src/img/portfolio/feuchte/title_feuchte.jpg" /></div>
        <div class="card__details">
            <div class="card__details__info">
                <h2>Feuchteklinik</h2>
                <span class=card__details__info__description>Projektmanagement, Konzept & Webdesign.<span>
            </div>
            <div class="card__details__info__btn"><img src="/src/img/chev.svg"></div>
        </div>
    </a>

    <a class="card">
        <div class="card__img"><img src="/src/img/portfolio/veaxo/title_veaxo.jpg" /></div>
        <div class="card__details">
            <div class="card__details__info">
                <h2>Veaxo Gruppe</h2>
                <span class=card__details__info__description>Konzept, Design & Webentwicklung.<span>
            </div>
            <div class="card__details__info__btn"><img src="/src/img/chev.svg"></div>
        </div>
    </a>

    <a class="card">
        <div class="card__img"><img src="/src/img/portfolio/maulbaer/title_maulbaer.jpg" /></div>
        <div class="card__details">
            <div class="card__details__info">
                <h2>Maulbeerblatt</h2>
                <span class=card__details__info__description>Redesigns. Betreuung. Content. Web & Print.<span>
            </div>
            <div class="card__details__info__btn"><img src="/src/img/chev.svg"></div>
        </div>
    </a>

</div>
</section>