---
title: "Maulbeerblatt"
layout: "portfolio.njk"
heroimg: "/src/img/portfolio/maulbaer/title_maulbaer.jpg"
detail_client: ["elf62.net UG"]
detail_req_devop: ["Staging"]
detail_req_webdesign: ["Mockup", "Webdesign"]
detail_req_webdev: ["PHP", "Wordpress"]
ext_link: "https://maulbeerblatt.com"
ext_clean: "maulbeerblatt.com"
status: "Live"
status_class: "status_live"
together: "2014 - 2016"
---
In meiner Anstellung bei der elf62.net UG habe ich neben zahlreichen Wordpress-Projekten hauptsächlich für KMU in Berlin und Brandenburg, auch die Webseite des Agentureigenen Verlags mehrfach überarbeitet. Herausforderung war hierbei, das Design der dynamischen Kunst- & Kulturszene Friedrichhagens anzupassen ohne den örtlich beliebten Stil des Maulbeerblatt zu stark zu verändern. Zudem habe ich sowohl in Print wie auch im Web Inhalte gestaltet und teils selber verfasst.