---
title: "MPW Immobilien"
layout: "portfolio.njk"
heroimg: "/src/img/portfolio/mpw/title_mpw.jpg"
detail_client: ["MPW Immobilien"]
detail_req_devop: ["Staging", "Outsourcing"]
detail_req_webdesign: ["Mockup", "Webdesign", "Prototyping", "Styleguide"]
detail_req_webdev: ["Wordpress", "PHP", "Atomic Design", "REST", "API"]
ext_link: "https://mpw-immobilien.de/"
ext_clean: "mpw-immobilien.de"
status: "Live"
status_class: "status_live"
together: "2018 - 2021"
---
Während meiner Arbeit bei MPW Immobilien und später bei RED Eagle habe ich für MPW Immobilien mehrere Aufgaben erledigt, von Corporate Design über Webentwicklung und API Programmierung (REST & OpenImmo) bis hin zum Webdesign. Über drei Jahre hinweg habe ich diesen Kunden betreut und die Transformation beglitten. Die Herausforderung war den Geschäftsführerwechsel und die Neuausrichtung des Unternehmens mit einer digitalen Transformation zu begleiten um so Neukunden zu gewinnen und die bestehende Zielgruppe dabei nicht aus dem Auge zu verlieren. Gepaart mit der Arbeit meines Teams bei RED Eagle haben wir MPW Immobilien in nur drei Jahren zum meist- und bestbewerteten Einzelmaklers Deutschlands auf Google gemacht und die Branche der Einzelmakler durch Mitbewerbergespräche in die Digitalisierungsphase befördert.