---
title: "MPW1 Hausverwaltung"
layout: "portfolio.njk"
heroimg: "/src/img/portfolio/mpw1hv/title_mpw1hv.jpg"
detail_client: ["MPW Immobilien"]
detail_req_devop:
detail_req_webdesign: ["Mockup", "Webdesign", "Styleguide"]
detail_req_webdev: ["Wordpress", "Atomic Design"]
ext_link: "https://berlin-verwaltung.de/"
ext_clean: "berlin-verwaltung.de"
status: "Live"
status_class: "status_live"
together: "2018 - 2021"
---
Im Zuge der Arbeit für MPW Immobilien habe ich die Webseite für die Hausverwaltung ein Redesign vollzogen. Wichtig war dem Kunden die vorherige unkenntliche Zusammengehörigkeit nun hervorzuheben. Zudem wurde durch die Content-Strategie und die Aufteilung zwischen Mieterïnnen und Vermiterïnnen klarer definiert, was zu einer besseren Auffindbarkeit und vermehrten WEG-Aufträgen führte. Durch die prominente Weiterleitung zum Mieter- & Vermieterportal wurden zudem die Telefonanrufe und E-Mails reduziert.