---
title: "Veaxo Gruppe"
layout: "portfolio.njk"
heroimg: "/src/img/portfolio/veaxo/title_veaxo.jpg"
detail_client: ["Veaxo - FMA"]
detail_req_devop: ["Staging", "Outsourcing", "Scrummaster", "Dokumentation"]
detail_req_webdesign: ["Mockup", "Webdesign", "Prototyping", "Styleguide"]
detail_req_webdev: ["Wordpress", "PHP", "Atomic Design"]
ext_link: "https://veaxo.de/"
ext_clean: "veaxo.de"
status: "Live"
status_class: "status_live"
together: "2020 - 2021"
---
Die Veaxo Gruppe hatte unsere Agentur RED Eagle beauftragt um sämtliche Webseiten der Stammgeschäfte FMA, FBT, PHÄNOMEN und STUCK zu modernisieren. Nach dem letzten Redesign in den frühen 2000er Jahren, musste etwas moderneres her. Dem Kunden war es wichtig, die Zusammengehörigkeit der Unternehmen zu der neugegründeten Veaxo hervorzuheben. Das lösten wir mit einem einheitlichen Layout und Design, dass sich nun nur noch in Bildsprache, Farben und Inhalte unterscheidet.