/* mediaqueries */
$medium: 768px;
$large: 1024px;
$xlarge: 1280px;
$xxlarge: 1600px;

@mixin size($size) {
  @if $size == tiny {
    @media screen and (max-width: 420px) { @content; }
  }
  @else if $size == md {
    @media screen and (min-width: $medium) { @content; }
  }
  @else if $size == lg {
    @media screen and (min-width: $large) { @content; }
  }
  @else if $size == xl {
    @media screen and (min-width: $xlarge) { @content; }
  }
  @else if $size == xxl {
    @media screen and (min-width: $xxlarge) { @content; }
  }
  @else if $size == p {
    @media print { @content; }
  }
}