@import 'reset';
@import 'viewports';
@import 'colors';
@import 'typo';
@import 'layout';

html, body {
    font-size: 10px;
}

html {
    background-color: $rose;
    color: $black_alt;
    padding: 30px;

    $dot-size: 1px;
    $dot-space: 22px;

    background:
        linear-gradient(90deg, $rose ($dot-space - $dot-size), transparent 1%) center,
        linear-gradient($rose ($dot-space - $dot-size), transparent 1%) center, $red;
    background-size: $dot-space $dot-space;
}

body {
    font-size: 1.6rem;
}

header {
    display: block;
    margin-bottom: 6rem;

    h1 {
        font-size: 0;
        a {
            font-size: 6.2rem;
            color: $black;
            font-weight:900;
        }
        .subline {
            font-size: 3.6rem;
            color: $rose;
            display: inline-block;
            transform: rotate(-1.5deg);
        }
    }
}
.intro {
    font-weight: 400;
}

div.charts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;

    @include size(md) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @include size(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 9px -4px #36393b75; 
        box-shadow: 0px 0px 9px -4px #36393b75;

        color: $rose;

        background: linear-gradient(to right, #36393B 50%, #c6f140 50%);
        background-size: 200% 100%;
        background-position:left bottom;
        /**margin-left:10px;**/
        transition:all .4s ease;

        &:hover {
            background-position:right bottom;
            color: $black;
            transition: all 1s ease, color 1s cubic-bezier(0.81, 1, 0.88, 1) 0s;
        }

        &__img {
            border-radius: 4px 4px 0 0;
            img {
                width: 100%;
                border-radius: 4px 4px 0 0;
            }
        }

        &__details {
            border-radius: 0 0 4px 4px;
            display: flex;
            justify-content: space-between;
            margin-top: -2px;

            &__info {
                padding: 1.4rem;

                h2 {
                    font-size: 2.2rem;
                    margin-bottom: .4rem;
                    font-weight: 900;
                }

                &__description {
                    font-size: 1.4rem;
                    font-weight: 400;
                }
                &__btn {
                    height: 70px;
                    width: 70px;
                    background-color: $green;
                }
            }
        }
    }
}


.marker-highlight{
    position:relative;
  }
  
  .marker-highlight:before{
    content:"";
    background-color:rgba(255, 84, 73, 0.75);
    width:115%;
    height:1em;
    position:absolute;
    z-index:-1;
    filter:url(#marker-shape);
    left: -1rem;
    padding:0 0.25rem;
  }

  .contact {
    text-align: center;
    margin-bottom: 6rem;

    .btn {
        display: inline-block;
        padding: 7px 17px;
        color: $rose;
        font-weight: 700;
        font-size: 2.2rem;
        margin-top: 1.4rem;

        background: linear-gradient(to right, #36393B 50%, #c6f140 50%);
        background-size: 200% 100%;
        background-position:left bottom;
        /**margin-left:10px;**/
        transition:all .4s ease;

        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 9px -4px #36393b75; 
        box-shadow: 0px 0px 9px -4px #36393b75;

        &:hover {
            background-position:right bottom;
            color: $black;
            transition: all 1s ease, color 1s cubic-bezier(0.81, 1, 0.88, 1) 0s;
        }
    }
  }